* {
    margin: 0;
    padding: 0;
}


.bg1{
    height: 653px;
    width: 1280px;
    background-image: url(bg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

.bg2{
    height: 653px;
    width: 1280px;
    background-image: url(bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

.bg3{
    height: 653px;
    width: 1280px;
    background-image: url(bg3.png);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

.bg4{
    height: 653px;
    width: 1280px;
    background-image: url(bg4.png);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

.bg5{
    height: 653px;
    width: 1280px;
    background-image: url(bg5.png);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}