* {
    margin: 0;
    padding: 0;
}



.bg1, .bg2, .bg3, .bg4, .bg5 {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.bg1{
    background-image: url(bg1.png);
}

.bg2{
    background-image: url(bg2.png);
}

.bg3{
    background-image: url(bg3.png);
}

.bg4{
    background-image: url(bg4.png);
}

.bg5{
    background-image: url(bg5.png);
}